<template>
  <div id="nrf_page">
    <v-container>
    <h1 class="nfr_pgtitle"><v-icon>far fa-paper-plane</v-icon> Subscribe</h1>
    <p class="caption text-center">Feel free to signup your email dan join mailing list kami tuk dapatkan konten eksklusif dikirim langsung ke inbox kamu.</p>
    <SubscribeForm />
    </v-container>
  </div>
</template>

<script>
export default {
  layout: 'master',
  data() {
    return {
      seotitle: "Subscribe - Notes From Rookies",
    }
  },
  head() {
    return {
      title: this.seotitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:description",
          name: "og:description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "title",
          name: "title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:title",
          name: "og:title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:site_name",
          name: "og:site_name",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
      ],
    };
  },  
}
</script>

<style>

</style>