<template>
  <div>
    <!-- Begin Mailchimp Signup Form -->
    <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
    <div id="mc_embed_signup">
      <v-form
        action="https://medium.us2.list-manage.com/subscribe/post?u=f2727a6a274a766bb1b3cc137&amp;id=7334af9435"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <div id="mce-responses" class="clear">
            <!-- <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div> -->
            <v-alert
              text
              class="response mb-5 caption"
              id="mce-error-response"
              style="display: none"
              role="alert"
              color="red"
              type="error"
              prominent
              border="left"
            ></v-alert>
            <!-- <div
              class="response mb-5"
              id="mce-error-response"
              style="display: none"
              type="is-danger is-light"
              aria-close-label="Close notification"
              role="alert"
            ></div> -->
            <v-alert
              text
              class="response mb-5 caption"
              id="mce-success-response"
              style="display: none"
              role="alert"
              color="red"
              type="success"
              prominent
              border="left"
            ></v-alert>
            <!-- <div
              class="response mb-5"
              id="mce-success-response"
              style="display: none"
              type="is-success is-light"
              aria-close-label="Close notification"
              role="alert"
            ></div> -->
          </div>

          <v-text-field
            outlined
            dense
            type="text"
            value=""
            name="NAMA"
            class="required input"
            id="mce-NAMA"
            label="Nama depan/ nickname"
          ></v-text-field>

          <v-text-field
            outlined
            dense
            type="email"
            value=""
            name="EMAIL"
            class="required email input"
            id="mce-EMAIL"
            label="Alamat e-mail valid"
          >
          </v-text-field>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_f2727a6a274a766bb1b3cc137_7334af9435"
              tabindex="-1"
              value=""
            />
          </div>
          <div class="clear">
            <!-- <v-btn 
              type="submit"
              value="Subscribe"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button is-outlined is-white is-medium mt-4"
              color="black" @click="reset">
              Subscribe
            </v-btn> -->
            <v-btn
              type="submit"
              value="Subscribe"
              name="subscribe"
              id="mc-embedded-subscribe"
              color="black"
              dark
              block
              >Subscribe</v-btn
            >
          </div>
        </div>
      </v-form>
    </div>
    <script
      type="text/javascript"
      src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
    ></script>
    <script type="text/javascript">
      (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = "EMAIL";
        ftypes[0] = "email";
        fnames[1] = "NAMA";
        ftypes[1] = "text";
      })(jQuery);
      var $mcj = jQuery.noConflict(true);
    </script>
  </div>
</template>

<script>
export default {};
</script>


<style>
</style>