@font-face {
    font-family: 'aileronbold';
    src: url('~assets/fonts/aileron-bold-webfont.woff2') format('woff2'),
         url('~assets/fonts/aileron-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'aileronlight';
    src: url('~assets/fonts/aileron-light-webfont.woff2') format('woff2'),
         url('~assets/fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'aileronregular';
    src: url('~assets/fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('~assets/fonts/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li,
  small,
  a,
  time,
  button,
  input {
    font-family: aileronbold !important;  
  }
  
  
  .nfr_pgtitle {
    text-shadow: 1px 1px 1px #eee;
    text-transform: capitalize;
    font-size: 25px;
    border-bottom: 1.5px solid #ddd;
    max-width: 180px;
    margin: 0 auto 20px;
    text-align: center;
    padding-bottom: 10px;
  }

  .nfr_pgtitle .v-icon {
    color: #333 !important;
    border-right: 2px solid #333 !important; 
    padding-right: 10px !important;
    height: 20px !important;
    font-size: 20px !important;
  }

  #nrf_page .caption {
    font-size: 14px !important;
    line-height: 25px !important;
  }

  #nrf_page {
    margin-bottom: 80px;
  }

  .nfr_logo_main {
    text-align: center;
    font-size: 70px;
    height: 20px;
    position: relative;
    top: -15px;
    z-index: 999;

  }

  .nfr_logo_main a {
    text-decoration: none;
    color: black !important;
    font-family: 'aileronregular' !important;
  }

  .nfr_logo_wrap a {
    text-decoration: none !important;
  }
  .nfr_logo_wrap a .logo {
    font-size: 50px;
    position: relative;
    top: -10px;
  }

  .nrf_logo_nav {
    font-style: normal;
}

.nfr_body figure img {
  width: 100%;
}
.nfr_body {
  overflow: hidden;
  height: 320px;
  text-overflow: ellipsis;
}
.nfr_blogmeta .v-icon {
  font-size: 12px !important;
  padding: 0 5px 0 0 !important;
  position: relative !important;
  top: -2px !important;
}
.nfr_viewall {
  margin: 20px 0 0px;
}
.nfr_viewall .v-icon {
  font-size: 14px !important;
  padding-left: 8px !important;
}
.nfr_blogicon .v-icon {
  color: black !important;
  font-size: 32px !important;
}
a.nfr_link {
  text-decoration: none !important;
}


  @media only screen and (min-width: 600px) {

    .v-application--wrap {
      background: #ccc !important;
    }
    .container {
      max-width: 672px !important;
      background: #fff !important;
    }
    .v-footer {
      background: #ccc !important;
    }
    .v-bottom-navigation {
      max-width: 672px !important;
      margin: 0 auto 0;

    }
    #nrf_page {
      min-height: 800px !important;
    }
  }

  