<template>
  <v-app>
    <v-container>
      <v-row>
        <v-col cols="12">
          <div class="nfr_logo_main">
            <nuxt-link to="/">N</nuxt-link>
            </div>
        </v-col>
      </v-row>
    </v-container>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>

    <v-footer fixed class="pa-0">
      <BottomNav />

    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/",
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire",
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: "N",
    };
  },
};
</script>
