<template>
  <div id="nrf_page">
    <v-container>
    <h1 class="nfr_pgtitle"><v-icon class="nrf_logo_nav">N</v-icon> About</h1>
    <p class="title">Hai,</p>
    <p class="caption">
      Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita
      personal seputar musik.
    </p>
    <p class="caption">
      Digagas pertama kali oleh Resqi Utomo dan Muh Harits pada awal 2020, NFR juga disajikan
      sebagai wadah para penulis musik di Indonesia.
    </p>
    <p class="caption">Di penghujung tahun 2020, Dimas dan Prys masuk melengkapi formasi redaksi NFR.</p>
    <p class="caption">Kritik saran dan korespondensi, harap hubungi kami di email: redaksi@notesfromrookies.com</p>
    </v-container>
  </div>
</template>

<script>
export default {
  layout: "master",
   data() {
    return {
      seotitle: "About - Notes From Rookies",
    }
  },
  head() {
    return {
      title: this.seotitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:description",
          name: "og:description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "title",
          name: "title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:title",
          name: "og:title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:site_name",
          name: "og:site_name",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
      ],
    };
  },     
};
</script>

<style>
</style>