<template>
  <div id="nrf_page"> 
    <v-container>
      <h1 class="nfr_pgtitle"><v-icon>fas fa-rss</v-icon> New Blog</h1>
      <div v-if="$fetchState.pending">
        <p v-for="medium of mediums" :key="medium.title">
          <v-skeleton-loader
            v-bind="attrs"
            type="list-item-avatar"
            class="px-0 py-6"
          ></v-skeleton-loader>
          <v-divider></v-divider>
        </p>
      </div>
      <p v-else-if="$fetchState.error">An error occurred :(</p>
      <div v-else>
        <v-list three-line v-for="medium of mediums" :key="medium.title">
          <a :href="medium.guid" class="nfr_link">
            <v-list-item class="pa-0">
              <v-list-item-avatar class="nfr_blogicon">
                <v-icon>fab fa-medium</v-icon>
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title v-html="medium.title"></v-list-item-title>
                <v-list-item-subtitle class="nfr_blogmeta">
                  <v-icon>fas fa-user-edit</v-icon>{{ medium.pubDate }}
                </v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </a>
          <v-divider></v-divider>
        </v-list>
        <div class="nfr_viewall">
          <v-btn
            href="https://medium.com/@notesfromrookies/"
            color="black"
            dark
            block
            class="text-capitalize"
            x-large
            >Baca di Medium <v-icon>fas fa-external-link-alt</v-icon></v-btn
          >
        </div>
      </div>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  layout: "master",
  data() {
    return {
      mediums: [],
      seotitle: "Notes From Rookies - Catatan, Review dan Cerita tentang Musik",
    };
  },
  head() {
    return {
      title: this.seotitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:description",
          name: "og:description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "title",
          name: "title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:title",
          name: "og:title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:site_name",
          name: "og:site_name",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
      ],
    };
  },
  async fetch() {
    this.mediums = await fetch(
      "https://api.cosmicjs.com/v1/nfr-cms/objects?pretty=true&hide_metafields=true&type=posts&read_key=KppPc9sjaoThiKJRglSy7c4XOarEnQCKYrgeYeJ4aAa2dwTb43&limit=20&props=slug,title,content,metadata,"
    ).then((res) => res.json());
  },
};
</script>
