<template>
  <v-bottom-navigation v-model="value" grow>
    <v-btn value="blog" to="/">
      <span>Blog</span>

      <v-icon>fas fa-rss</v-icon>
    </v-btn>

    <v-btn value="collab" to="/collab">
      <span>Collab</span>

      <v-icon>fas fa-people-arrows</v-icon>
    </v-btn>
    <v-btn value="subscribe" to="/subscribe">
      <span>Subscribe</span>

      <v-icon>far fa-paper-plane</v-icon>
    </v-btn>


    <v-btn value="about" to="/about">
      <span>About</span>

      <v-icon class="nrf_logo_nav">N</v-icon>
    </v-btn>
  </v-bottom-navigation>
</template>
<script>
export default {
  data() {
    return {
      value: "blog",
    };
  },
};
</script>
