<template>
  <div id="nrf_page">
    <v-container>
    <h1 class="nfr_pgtitle"><v-icon>fas fa-people-arrows</v-icon> Collab</h1>
    <p class="caption">Ikuti kolaborasi bareng team NFR!</p>

    <p class="caption">
      Submit contoh tulisan kamu tentang musik, bisa itu pengalaman kamu
      mendengarkan musik yang kamu suka, pengalaman kamu menonton konser,
      artwork album favorit, video klip yang cukup berkesan, merchandise band
      favorit, ide, dan gagasan kamu mengenai musik, dan sebagainya.
    </p>

    <p class="caption">
      Setiap tulisan yang masuk akan dibaca dengan seksama oleh tim redaksi NFR,
      dan akan kita diskusikan bersama. Tulisan yang kamu kirimkan juga
      berkesempatan untuk di-publish di blog Notes From Rookies.
    </p>

    <p class="caption">Bagaimana caranya?</p>
    <p class="caption">
      Kirim draft, contoh naskah, ide, dan gagasan tulisan kamu tentang musik
      dalam format .doc atau .pdf ke:
    </p>

    <p class="caption font-weight-bold">resqi@notesfromrookies.com</p>

    <p class="caption">Salam!</p>
    </v-container>
  </div>
</template>

<script>
export default {
  layout: "master",
   data() {
    return {
      seotitle: "Collaboration - Notes From Rookies",
    }
  },
  head() {
    return {
      title: this.seotitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:description",
          name: "og:description",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "title",
          name: "title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:title",
          name: "og:title",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
        {
          hid: "og:site_name",
          name: "og:site_name",
          content:
            "Notes From Rookies (NFR) adalah blog berisi catatan, review dan cerita personal seputar musik.",
        },
      ],
    };
  },   
};
</script>

<style>
</style>